<div class="container mt-5">
  <div class="row justify-content">
    <div class="col-sm text-left mb-2 anim-text">
      <h2>Fã pages</h2>
      <p class="mt-4">
        Tenho uma fã page da Sega no Facebook e no Instagram. Por incrível que
        pareça a página do Facebook é uma das maiores sobre a Sega no mundo, com
        mais de 25 mil seguidores.
      </p>
      <div class="socialMediaLogos anim-items">
        <a href="https://www.facebook.com/SegaUltimate" target="_blank"
          ><img class="socialLogos" src="assets/images/ficon.png" alt="Facebook Icon"
        /></a>
        <a href="https://www.instagram.com/segaultimate" target="_blank"
          ><img class="socialLogos ml-4" src="assets/images/iicon.png" alt="Instagram Icon"
        /></a>
      </div>
    </div>
    <div class="col-sm anim-image">
      <img
        class="image"
        src="assets/images/FBSega.jpg"
        alt="Imagem da página Sega Ultimate no Facebook"
      />
    </div>
  </div>
</div>
