.anim-items {
  animation-name: animZoomIn;
  animation-duration: 2s;
}

@keyframes animZoomIn {
  from
  {
    transform: scale(0);
  }
  to
  {
    transform: scale(1);
  }
}

em {
  color:#E05C65;
  padding-left:10px;
  font-size: 12px;
}
