.justify-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 424px;
  padding:5px;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.anim-text {
  animation-name: animFromRight;
  animation-duration: 2s;
}

.anim-image {
  animation-name: animFromLeft;
  animation-duration: 2s;
}

.anim-items {
  animation-name: animFadeIn;
  animation-duration: 4s;
}

@keyframes animZoom {
  from
  {
    transform: scale(0.0);
  }
  to
  {

    transform: scale(1.0);
  }
}

@keyframes animFromRight {
  from
  {
    left: -150%;
  }
  to
  {
    left: 0%;
  }
}

@keyframes animFromLeft {
  from
  {
    left: 150%;
  }
  to
  {
    left: 0%;
  }
}

@keyframes animFadeIn {
  from
  {
    opacity: 0.0;
  }
  to
  {
    opacity: 1;
  }
}
