<div class="container mt-5">
  <div class="row justify-content">
    <div class="col-sm text-left anim-text">
      <h2>Bem vindos a minha página :)</h2>
      <p class="mt-4">
        Aqui irá encontrar todos os projetos nos quais estou envolvido.
        Os projetos vão desde desenvolvimento, fan pages, canal no YouTube, entrevistas, tutoriais, etc.
      </p>
      <p>
        Espero que você goste ;)
      </p>
    </div>
    <div class="col-sm anim-image">
      <img class="image anim-zoom-image" src="assets/images/eu.jpg" alt="Eu jogando fliperama quando criança">
    </div>
  </div>
</div>
