<div class="container mt-5">
  <div class="row justify-content mb-4">
    <div class="col-sm text-left anim-text">
      <h2>Desenvolvimento</h2>
      <p class="mt-4">
        No meu tempo livre, gosto de desenvolver ferramentas e games. Aqui estão
        alguns projetos nos quais tenho um grande apreço.
      </p>
    </div>
    <div class="col-sm anim-image">
      <img
        class="image"
        src="assets/images/development.jpg"
        alt="Tela com códigos de programação"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center anim-items">
    <div class="col-md-6 col-sm">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageCarousel" src="assets/images/titanIDE.jpg" alt="Imagem da interface da Titan IDE" />
          </div>
          <div class="carousel-caption">
            <h3>Titan IDE</h3>
            <p class="carousel-text">
              Game Engine para se fazer games para Dreamcast, Nintendo Wii e PC
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageCarousel" src="assets/images/titanvmu.jpg" alt="Imagem da ferramenta que cria ícones para o VMU" />
          </div>
          <div class="carousel-caption">
            <h3>Titan VMU Icon</h3>
            <p class="carousel-text">
              Ferramenta para se fazer icones de jogos no Memory Card do
              Dreamcast
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageCarousel" src="assets/images/titanWeb.jpg" alt="Imagem do website Titan Web" />
          </div>
          <div class="carousel-caption">
            <h3>Titan Web</h3>
            <p class="carousel-text">WebSite compatível com os navegadores do Dreamcast.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imageCarousel" src="assets/images/metalcanary.jpg" alt="Imagem do game Metal Canary para Dreamcast" />
          </div>
          <div class="carousel-caption">
            <h3>Metal Canary</h3>
            <p class="carousel-text">Game indie em desenvolvimento para o Sega Dreamcast e PC.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
